<div id="mainframe">

	<div id="hero">

		<div id="me" class="header1">
			<div class="blue"><a href="#about" class="light-black" id="about_link">Coulton Bunney</a></div>
			<div class="mid-black"><a href="#ux" class="mid-black">User Experience</a></div>
		</div>

	</div>

	<div class="challenges">
		<div class="description-left light-black ">Current challenge</div>
		<div class="mid-black description-right">
			<div><a href="#lift" class="mid-black" id="lift_link">Building a trustworthy and reliable wellness assistant <span class="light-black">></span></a></div>
		</div>
	</div>

	
	<div class="challenges">
		<div class="description-left light-black top">
			<div class="top">Completed challenges</div>
		</div>
		<div class="mid-black description-right">
			<div><a href="#back" class="mid-black" id="back_link">Creating a consistent and accurate wearable experience <span class="light-black">></span></a></div>
			<div><a href="#chalk" class="mid-black" id="chalk_link">Automating school paperwork for educators <span class="light-black">></span></a></div>
		</div>
	</div>

	<div id="lift">
		<div class="panel-title header1">
			<div><span class="black">Lead UX Designer</span><span class="lumo-green">Lumo Lift</span></div>
			<div class="light-black">Building a trustworthy and reliable wellness assistant</div>
		</div>
			
		<div class="panel30">
	
			<div class="image">
				<%=image_tag('black-sensor-with-clasp.png', :class =>'phone')%>
			</div>
			<div class="description">
				<div class="title">
					Make hardware unobtrusive
				</div>
				In order to solve the problem of poor upper body posture and sedentary behavior, we designed a device to be worn like a brooch or lapel pin. The Lumo Lift tracks posture, steps, distance, and calories. I formulated the main hardware interaction with the device, patented as the Bunney Button.
			</div>
		</div>
		<div class="panel30">
			<div class="image">
			<%=image_tag('lift_main.png', :class =>'phone')%>
		</div>
			<div class="description mid-black">
				<div class="title">
					Make data understandable
				</div>
				A user can quickly check the app to find out how they've been doing for the last hour, and over the course of the day. User reserach showed that users did not have a good baseline for what "Good" posture meant. So, rather than forcing users to parse meaningless numbers or data, I quickly realized that issuing straightforward judgements created the most intuitive experience. Thus, we provide qualitative insights into your recent posture and activity along with the ability to access the quantitative evidence informing these insights.
			</div>

		</div>
		<div class="panel30">
				
			<div class="image">
			<%=image_tag('lift_l.png', :class =>'phone')%>
			</div>
			<div class="description mid-black">
				<div class="title">
					Make feedback friendly
				</div>
				I found that users often don't trust real-time feedback. Based on research by the late Clifford Nass of Stanford University, I designed a trustworthy soial actor named Coach who can tell you not only exactly how your posture is, but also coach you to getting better. Coach utilizes well-timed praise for encouragement, and gentle nudges to help you straighten up. His engaging personality makes the sometimes difficult task of good posture a team endeavor.
			</div>

		</div>
	</div>

	<div id="back">
		<div class="panel-title header1">
			<div><span class="black">UX Designer</span><span class="lumo-green">Lumo Back</span></div>
			<div class="light-black">Creating a consistent and accurate wearable experience</div>
		</div>
			
		<div class="panel30">
	
			<div class="image">
				<%=image_tag('lb-folded-full.png', :class =>'lb')%>
			</div>
			<div class="description">
				<div class="title">
					Keep hardware invisible
				</div>
				Back pain costs up to $100 billion dollars per year. In order to help alleviate this, the founders at Lumo Body Tech, Inc., designed the Lumo Back. I helped prototype the original product, running several guerilla usability tests with foam prototypes. This generated the insight that users naturally placed the foam prototypes on the lower back, and under their clothes. This informed the final industrial design of the product. 
			</div>
		</div>
		<div class="panel30">
			<div class="image">
			<%=image_tag('back_main.png', :class =>'phone')%>
		</div>
			<div class="description mid-black">
				<div class="title">
					Keep data glanceable
				</div>
				Based on Stanford researcher BJ Fogg's persuasive technology research, we wanted to find the smallest changes that a user could make to elicit the largest positive outcome. Thus, we developed five metrics that lay in cards at the bottom of the screen, presenting your progress up to the latest second. Additionally, the app provides an avatar that accurately mimics your every movement.
			</div>

		</div>
		<div class="panel30">
				
			<div class="image">
			<%=image_tag('back_max.png', :class =>'phone')%>
			</div>
			<div class="description mid-black">
				<div class="title">
					Keep progress informative
				</div>
				Our customer base consisting of science oriented, data minded professionals valued accuracy and details. So, I designed each metric to provide detailed information by simply tapping on its correspoding card. Here, users can track trends, pinpoint weaknesses, and see overall progress.
			</div>

		</div>
	</div>

	<div id="chalk">
		<div class="panel-title header1">
			<div><span class="black">Co-founder</span><span class="lumo-green">Chalk Schools</span></div>
			<div class="light-black">Automating paperwork for educators</div>
		</div>	
		<div class="panel50">
	
			<div class="image">
				<%=image_tag('chalk_drag_drop_desktop.png', :class =>'desktop')%>
			</div>
			<div class="description mid-black">
				<div class="title">
					Automate paperwork completion 
				</div>
				After months of in-depth interviews with actual educators including secretaries, teachers, and principles, we gained an understanding that educators do not need new ways to teach, but rather more time to teach. Thus, in order to alleviate the massive amounts of paperwork burying educators, we developed Chalk Schools to digitize and automate paperwork completion by automatically filling out class via an easy drag and drop user interface.
			</div>
		</div>
		<div class="panel50">
			<div class="image">
				<%=image_tag('chalk_track_desktop.png', :class =>'desktop')%>
			</div>
			<div class="description mid-black">
				<div class="title">
					Automate paperwork tracking
				</div>
				Often, we found, that paperwork never makes it to its desired destination. Permission slips get lost in backpacks, administrative forms vanish into filing cabinets, and the list goes on. We developed Chalk to provide an easy way to start digital paperwork campaigns, send out forms, gather legally binding signatures, and track whether your forms have been viewed, completed, and returned. 
			</div>

		</div>
	
	</div>


	<div id="about">
	
			
		<div class="panel30">
	
			<div class="image">
				<%=image_tag('myface_2.jpg', :class =>'face')%>
			</div>
			
		</div>
		<div class="panel60">
			<div class="panel-title">
				Coulton Bunney designs affective computing experiences rooted in cognitive and behavioral research.
			</div>	
			<div class="panel50">
				<div class="description mid-black">
				
					Born in Pittsburgh, PA, Coulton grew up in a blue collar family. One day, he came across an article about fMRI studies revealing that meditation in Buddhist monks literally rewires their brains in positive ways (due, of course to neuroplasticity). Poised to figure out different ways behavior can change the human brain and create positive outcomes,
				</div>
			</div>
			<div class="panel50">
				<div class="description mid-black">
					 he set off to Stanford, where he majored in Symbolic Systems - a mix of CS, HCI, CogSci, and Philosophy. While there, he co-founded a company (Chalk), and helped launch a new wearable device (Lumo Back). He now works for Lumo BodyTech, where he leads UX, focusing on ways to make wellness technology more trustworthy and motivating.
				</div>
			</div>

		</div>
		
	</div>


	
</div>