<div id="mainframe">

	<div id="hero">

		<div id="me" class="header1">
			<div class="blue"><a href="#about" class="blue">Coulton Bunney</a></div>
			<div class="mid-black"><a href="#ux" class="mid-black">User Experience</a></div>
		</div>

	</div>

	<div class="challenges">
		<div class="description-left light-black ">Current challenge</div>
		<div class="mid-black description-right">
			<div><a href="#lift" class="mid-black">Building a trustworthy and reliable wellness assistant <span class="light-black">></span></a></div>
		</div>
	</div>

	
	<div class="challenges">
		<div class="description-left light-black top">
			<div class="top">Completed challenges</div>
		</div>
		<div class="mid-black description-right">
			<div><a href="#back" class="mid-black">Creating a consistent and accurate wearable experience <span class="light-black">></span></a></div>
			<div><a href="#chalk" class="mid-black">Automating school paperwork for educators <span class="light-black">></span></a></div>
		</div>
	</div>

	<div id="lift">
		<div class="panel-title header1">
			<div><span class="black">Lead Designer</span><span class="lumo-green">Lumo Lift</span></div>
			<div class="light-black">Building a trustworthy and reliable wellness assistant</div>
		</div>
			
		<div class="panel30">
	
			<div class="image">
				<%=image_tag('black-sensor-with-clasp.png', :class =>'phone')%>
			</div>
			<div class="description">
				<div class="title">
					Make hardware unobtrusive
				</div>
				In order to solve the problem of poor upper body posture and sedentary behavior, we designed a device to be worn like a brooch or lapel pin. The Lumo Lift tracks posture, steps, distance, and calories. I formulated the main hardware interaction with the device, patented as the Bunney Button.
			</div>
		</div>
		<div class="panel30">
			<div class="image">
			<%=image_tag('lift_main.png', :class =>'phone')%>
		</div>
			<div class="description mid-black">
				<div class="title">
					Make data understandable
				</div>
				A user can quickly check the app to find out how they've been doing for the last hour, and over the course of the day. I did not want users to have to parse numbers or data, so I decided to remove all numbers from the main screen of the app. Instead, we provide qualitative insights into your recent posture and activity along with the ability to access the quantiative evidence informing these insights.
			</div>

		</div>
		<div class="panel30">
				
			<div class="image">
			<%=image_tag('lift_l.png', :class =>'phone')%>
			</div>
			<div class="description mid-black">
				<div class="title">
					Make feedback friendly
				</div>
				Based on research by the late Clifford Nass of Stanford University, I designed a trustworthy soial actor named L that can tell you exactly how your posture is. L tells you when your posture is good, giving praise along the way. When you're slouching, she'll give you a gentle nudge to straighten up. Her engaging personality makes the sometimes difficult task of good posture a team endeavor.
			</div>

		</div>
	</div>

	<div id="back">
		<div class="panel-title header1">
			<div><span class="black">UX Designer</span><span class="lumo-green">Lumo Back</span></div>
			<div class="light-black">Creating a consistent and accurate wearable experience</div>
		</div>
			
		<div class="panel30">
	
			<div class="image">
				<%=image_tag('lb-folded-full.png', :class =>'lb')%>
			</div>
			<div class="description">
				<div class="title">
					Keep hardware invisible
				</div>
				In order to solve the problem of poor upper body posture and sedentary behavior, we designed a device to be worn like a brooch or lapel pin. The Lumo Lift tracks posture, steps, distance, and calories. I formulated the main hardware interaction with the device, patented as the Bunney Button.
			</div>
		</div>
		<div class="panel30">
			<div class="image">
			<%=image_tag('back_main.png', :class =>'phone')%>
		</div>
			<div class="description mid-black">
				<div class="title">
					Keep data glanceable
				</div>
				A user can quickly check the app to find out how they've been doing for the last hour, and over the course of the day. I did not want users to have to parse numbers or data, so I decided to remove all numbers from the main screen of the app. Instead, we provide qualitative insights into your recent posture and activity along with the ability to access the quantiative evidence informing these insights.
			</div>

		</div>
		<div class="panel30">
				
			<div class="image">
			<%=image_tag('back_max.png', :class =>'phone')%>
			</div>
			<div class="description mid-black">
				<div class="title">
					Keep progress detailed
				</div>
				Based on research by the late Clifford Nass of Stanford University, I designed a trustworthy soial actor named L that can tell you exactly how your posture is. L tells you when your posture is good, giving praise along the way. When you're slouching, she'll give you a gentle nudge to straighten up. Her engaging personality makes the sometimes difficult task of good posture a team endeavor.
			</div>

		</div>
	</div>

	<div id="chalk">
		<div class="panel-title header1">
			<div><span class="black">Co-founder</span><span class="lumo-green">Chalk Schools</span></div>
			<div class="light-black">Automating paperwork for educators</div>
		</div>	
		<div class="panel50">
	
			<div class="image">
				<%=image_tag('chalk_drag_drop_desktop.png', :class =>'desktop')%>
			</div>
			<div class="description mid-black">
				<div class="title">
					Automate paperwork completion 
				</div>
				In order to solve the problem of poor upper body posture and sedentary behavior, we designed a device to be worn like a brooch or lapel pin. The Lumo Lift tracks posture, steps, distance, and calories. I formulated the main hardware interaction with the device, patented as the Bunney Button.
			</div>
		</div>
		<div class="panel50">
			<div class="image">
				<%=image_tag('chalk_track_desktop.png', :class =>'desktop')%>
			</div>
			<div class="description mid-black">
				<div class="title">
					Automate paperwork tracking
				</div>
				A user can quickly check the app to find out how they've been doing for the last hour, and over the course of the day. I did not want users to have to parse numbers or data, so I decided to remove all numbers from the main screen of the app. Instead, we provide qualitative insights into your recent posture and activity along with the ability to access the quantiative evidence informing these insights.
			</div>

		</div>
	
	</div>


	<div id="about">
	
			
		<div class="panel30">
	
			<div class="image">
				<%=image_tag('myface_2.jpg', :class =>'face')%>
			</div>
			
		</div>
		<div class="panel60">
			<div class="panel-title">
				Coulton Bunney designs affective computing experiences rooted in cognitive and behavioral research.
			</div>	
			<div class="panel50">
				<div class="description mid-black">
				
					A user can quickly check the app to find out how they've been doing for the last hour, and over the course of the day. I did not want users to have to parse numbers or data, so I decided to remove all numbers from the main screen of the app. Instead, we provide qualitative insights into your recent posture and activity along with the ability to access the 
				</div>
			</div>
			<div class="panel50">
				<div class="description mid-black">
					
					A user can quickly check the app to find out how they've been doing for the last hour, and over the course of the day. I did not want users to have to parse numbers or data, so I decided to remove all numbers from the main screen of the app. Instead, we provide qualitative insights into your recent posture and activity along with the ability to access the 
				</div>
			</div>

		</div>
		
	</div>


	
</div>