<% 
	provide(:title, 'Portfolio') 
	@work_link = "pressed"
	@about_link = ""

%>


<div id = 'work-container' class = "work-grid ">
	


	<div class="row-fluid">
		<div id = "" class = "span12 work clearfix">
			<div class = "span6 clearfix">
				<h1>LUMOback <small> current <%=image_tag('iphone_icon.png',:class=>'icon-tag')%></small></h1>
				
				<div class = "description">The LUMOback sensor is worn around the waist and gently vibrates when you slouch. The sensor connects wirelessly to a mobile app with a friendly avatar named LUMO who tracks your posture and activities in real time, mirroring your daily activities. </div>
		

			
				<div class = "built_description hidden-phone"><span class = "tag">UX Design</span><span class = "tag">UI Design </span><span class = "tag">Balsamiq</span> <span class = "tag">Field Interviews</span></div>
			

				<div class = "row-fluid">
					<div class = "span12">

					
						<%= link_to('http://www.lumoback.com') do %>
			  				<div class = "btn link-to">lumoback.com <i class="icon-link"></i>
							</div>
						<% end %>
					</div>
				</div>
				
				

			</div>
			<div class = "span6 img-span">

			
				<div class="flexslider ">
				  <ul class="slides ">
				    <li>
				     <%=image_tag('lumo_main.png', :class =>'hidden-phone desktop_cont')%>
				    </li>
				    <li>
				     <%=image_tag('lumo_stats.png', :class =>'hidden-phone  desktop_cont')%>
				    </li>
				    <li>
				     <%=image_tag('lumo_landscape.png', :class =>'hidden-phone  desktop_cont')%>
				    </li>
				   
				  </ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div id = "" class = "span12 work clearfix">
			<div class = "span6 clearfix">
				<h1>Chalk Schools <small><%=image_tag('imac_icon.png',:class=>'icon-tag-h icon-tag-w')%></small></h1>
				
				<div class = "description">ChalkSchools is a web application for teachers, administrators and groups to automate all of their paperwork. From permission slips to behavior reports, ChalkSchools allows you to automatically fill out forms, send to and receive e-signatures from parents, and keep records of everything.</div>
		

			
				
			
				<div class = "built_description hidden-phone"><span class = "tag">Co-founder</span><span class = "tag">HTML5</span><span class = "tag">CSS3 </span><span class = "tag">Ruby on Rails</span> <span class = "tag">JQuery</span><span class = "tag">Bootstrap</span></div>
				<!-- </div> -->

				<div class = "row-fluid">
					<div class = "span12">

					
						<%= link_to('http://www.chalkschools.com') do %>
			  				<div class = "btn link-to">chalkschools.com <i class="icon-link"></i>
							</div>
						<% end %>
					</div>
				</div>
				
				

			</div>
			<div class = "span6 img-span">

			
				<div class="flexslider ">
				  <ul class="slides ">
				    <li>
				     <%=image_tag('chalk_home_desktop.png', :class =>'hidden-phone desktop_cont')%>
				    </li>
				    <li>
				     <%=image_tag('chalk_drag_drop_desktop.png', :class =>'hidden-phone  desktop_cont')%>
				    </li>
				    <li>
				     <%=image_tag('chalk_track_desktop.png', :class =>'hidden-phone  desktop_cont')%>
				    </li>
				   
				  </ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div id = "disgo_div" class = "span12 work clearfix">
			<div class = "span6 clearfix">
				<h1>Disgo <small><%=image_tag('iphone_icon.png',:class=>'icon-tag')%></small></h1>
				
				<div class = "description">Disgo allows every location to be a learning experience. By crowdsourcing 140 character facts about locations, the app gives you a way to learn without searching by tapping into geolocation data.</div>
		

				
				<div class = "built_description hidden-phone"><span class = "tag">HTML5</span><span class = "tag">CSS3 </span><span class = "tag">PHP</span> <span class = "tag">JQuery Mobile </span><span class = "tag">Bootstrap</span></div>
			

				<div class = "row-fluid">
					<div class = "span12">

					
						<%= link_to('http://bit.ly/godisgo') do %>
			  				<div class = "btn link-to">bit.ly/godisgo <i class="icon-link"></i>
							</div>
						<% end %>
					</div>
				</div>
				
				

			</div>
			<div class = "span6 img-span">

			
				<div class="flexslider">
				  <ul class="slides">
				    <li>
				      <%=image_tag('disgo_full.png', :class =>'hidden-phone')%>
				    </li>
				    <li>
				      <%=image_tag('disgo_full_disc.png', :class =>'hidden-phone')%>
				    </li>
				    <li>
				      <%=image_tag('disgo_full_fav.png', :class =>'hidden-phone')%>
				    </li>
				   
				  </ul>
				</div>
			</div>
			
		</div>
	</div>

	<div class="row-fluid">
		<div id = "" class = "span12 work clearfix">
			<div class = "span6 clearfix">
				<h1>Project Compassion <small></small></h1>
				
				<div class = "description">Project Compassion was borne out of Stanford's Center for Compassion and Altruism Research and Education. The student group mobilized Stanford's student body and teachers, including Andrew Luck and Phil Zimbardo, to spread the message of compassion and its root in scientific inquiry.</div>
		

				
				
				<div class = "built_description hidden-phone"><span class = "tag">iMovie</span><span class = "tag">Garageband </span><span class = "tag">Posterous</span> <span class = "tag">Design</span></div>
		
				<div class = "row-fluid">
					<div class = "span12">
					
						<%= link_to('http://stanfordcab.posterous.com/') do %>
			  				<div class = "btn link-to">Copmassion Action Blog  <i class="icon-link"></i>
							</div>
						<% end %>
					</div>
				</div>
				
				

			</div>
			<div class = "span6 img-span">
				<div id = 'pc_vid_cont'>
					<iframe id='pc_vid' src="http://www.youtube.com/embed/PasosmZ19h8" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
	    $("#pc_vid_cont").fitVids();
		$(window).load(function() {
		  $('.flexslider').flexslider({
		    animation: "fade",
     		slideshow: false,
    		 animationLoop:false, 
    		 smoothheight:true
		     
		  });
		});
  	
	
</script>

