<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Coulton Bunney - Secure</title>
    <%= favicon_link_tag 'face.ico' %>
    <%= stylesheet_link_tag "application-all", :media => "all" %>
    <%= yield :view_specific_css %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale = 1.0,user-scalable=no" />  
    <script>
      <%= render partial: 'layouts/lockup/inline_js' %>
    </script>
  </head>

  <body class="m0">
    <%= yield %>
  </body>
</html>
