<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
		<header class = "cont-nav">
			<div class="row-fluid ">	
	  			<div id = "nav-l" class = "span6 ">
	  				<a id = "logo" href="#" class = "r-nav">
	  					Coulton Bunney
	  				</a>
	  			</div>
	  			<div id = "nav-r" class = "span6 ">
	  				<ul id = "nav-links" class = "inline">
	  					<li>
	  						<a href="/portfolio" class = "<%=@work_link%> nav-link"> 
	  							<i class="icon-wrench nav-icon"></i>
	  							<div class = "hidden-desktop center nav-div">Work</div>
	  						</a>
	  					</li>
	  					<li>
	  						<a href="/about" class = "<%=@about_link%> nav-link">
	  						  <i class="icon-book nav-icon"></i>
	  						  <div class = "hidden-desktop center nav-div">About</div>
	  						</a>
	  					</li>
	  				</ul>
	  				</a>
	  			</div>
			</div>
		</header>

	<%= yield %>

</body>
</html>
