<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container"> 
		<header class = "cont-nav">
			<div class="row-fluid ">	
	  			<div class = "span12">
	  				<a id = "logo" href="#" class = "r-nav">CB</a>
	  				
  					<ul id = "nav-links" class = "inline r-nav pull-right">
	  					<li><a href="/portfolio">Work</a></li>
	  					<li><a href="/about">About</a></li>
	  				</ul>

	  		
	  			</div>
			</div>

			
		
			<script>
				$("#logo").fitText(1.0, { minFontSize: '30px', maxFontSize: '40px' })
				$("#nav-links").fitText(1.0, { minFontSize: '16px', maxFontSize: '20px' })
			</script>
		</header>

	<%= yield %>

	</div>
</body>
</html>
